<form>
  
    <h2>Ajouter un gardin</h2>
    <div class="mb-3">
   <label for="id" class="form-label"> Id gardien</label>
   <input type="number" class="form-control" id="id" size="15" aria-describedby="id">
  </div>
  
  <div class="mb-3">
    <label for="Nom" class="form-label"> Nom Gardien</label>
    <input type="text" class="form-control" id="name" size="15" aria-describedby="name">
   </div>
  
  
   <div class="mb-3">
    <label for="Email" class="form-label">Eamil </label>
    <input type="email" class="form-control" id="email" size="15" aria-describedby="email">
   </div>
  
  
   <div class="mb-3">
    <label for="site "> choisir un site site</label>
  <select name="site" id="site">
    <option value="bouargoub">bouargoub</option>
    <option value="sahline">sahline</option>
    <option value="Ben arous">Ben arous</option>
    <option value="manzel tmim">manzel tmim</option>
  </select>
   </div>
  
   <div class="mb-3">
    <label for="tel" class="form-label"> telephone gardien</label>
    <input type="tel" class="form-control" id="tel" size="15" aria-describedby="tel">
   </div>

  
   <div class="modal-footer">
   <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
   <button  type="button" class="btn btn-primary" >ajouter</button>
  
   </div>
  
  </form>
  
  
   