 
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h6><strong>de suivi du parc roulant </strong> </h6>
         
        </div>
        <div class="colums">
          <div class="item">
            <label for="dt"> Date<span>*</span></label>
             
            <input id="dt" type="date" name="dt" required/>
          </div>
          <div class="item">
            <label for="Immatricule"> Immatricule<span>*</span></label>
            <input id="Immatricule" type="text" name="Immatricule" required/>
          </div>
          <div class="item">
            <label for="N_chfr"> Nom chauffeur<span>*</span></label>
            <input id="N_chfr" type="text"   name="N_chfr" required/>
          </div>
          <div class="item">
            <label for="tm">Heure de sortie<span>*</span></label>
            <input id="tm" type="time"   name="tm" required/>
          </div>
          <div class="item">
            <label for="np">N° de plombage en sortie<span>*</span></label>
            <input id="np" type="number"   name="np" required/>
          </div>
          <div class="item">
            <label for="klm">Kilometrage en en sortie<span>*</span></label>
            <input id="klm" type="number" name="klù" required/>
          </div>
          <div class="item">
            <label for="hr">Heure d'entré<span>*</span></label>
            <input id="hr" type="time"   name="hr" required/>
          </div>
          <div class="item">
            <label for="Np"> N° plombage en entré<span>*</span></label>
            <input id="np" type="number"   name="np" required/>
          </div>
          <div class="item">
            <label for="kl">Kilometarge en entré<span>*</span></label>
            <input id="kl" type="number"   name="kl" required/>
          </div>
        </div>
        <div class="question">
          <label>Etat de propreté</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="none" id="radio_1" name="type"/>
              <label for="radio_1" class="radio"><span>Ok</span></label>
            </div>
            <div>
              <input  type="radio" value="none" id="radio_2" name="type"/>
              <label for="radio_2" class="radio"><span>Non ok</span></label>
            </div>
             
          </div>
          <div class="btn-block">
            <button type="submit" href="/">Enregistrer</button>
          </div>
        </div>
        
        
      </form>
    </div>
 