
    <div class="testbox">
      <form >
        <div class="banner">
          <h6><strong>Formulaire du parc roulant(Voyage du camion) </strong> </h6>


        </div>
        <div class="colums">
          <div class="item">
            <label for="dt"> Date<span>*</span></label>

            <input id="dt" type="date" name="dates" [(ngModel)]="dates" required/>
          </div>
          <div class="item">
            <label for="Immatricule"> Immatricule<span>*</span></label>
            <input id="Immatricule" type="text" name="Immatricule"[(ngModel)]="Immatricule" required/>
          </div>
          <div class="item">
            <label for="N_chfr"> Nom chauffeur<span>*</span></label>
            <input id="N_chfr" type="text"   name="Nom_chauffeur" [(ngModel)]="Nom_chauffeur" required/>
          </div>
          <div class="item">
            <label for="tm">Heure de sortie<span>*</span></label>
            <input id="tm" type="time"   name="Heure_sortie" [(ngModel)]="Heure_sortie" required/>
          </div>
          <div class="item">
            <label for="np">N° de plombage en sortie<span>*</span></label>
            <input id="np" type="text"   name="N_plombage_sortie" [(ngModel)]="N_plombage_sortie" required/>
          </div>
          <div class="item">
            <label for="klm">Kilometrage en en sortie<span>*</span></label>
            <input id="klm" type="text" name="Kilometrage_sortie" [(ngModel)]="Kilometrage_sortie"required/>
          </div>
          <div class="item">
            <label for="hr">Heure d'entré<span>*</span></label>
            <input id="hr" type="time"   name="Heure_entre" [(ngModel)]="Heure_entre" required/>
          </div>
          <div class="item">
            <label for="Np"> N° plombage en entré<span>*</span></label>
            <input id="np" type="text"   name="N_plombage_entre" [(ngModel)]="N_plombage_entre" required/>
          </div>
          <div class="item">
            <label for="kl">Kilometarge en entré<span>*</span></label>
            <input id="kl" type="text"   name="kilometrage_entre" [(ngModel)]="kilometrage_entre" required/>
          </div>
        </div>
        <div class="question">
          <label>Etat de propreté</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="ok" id="radio_1" name="type" [(ngModel)]="type"/>
              <label for="radio_1" class="radio"><span>Ok</span></label>
            </div>
            <div>
              <input  type="radio" value="non" id="radio_2" name="type"/>
              <label for="radio_2" class="radio"><span>Non ok</span></label>
            </div>

          </div>
          <div class="btn-block">
            <button type="submit"  (click)="create()">Enregistrer</button>
          </div>
        </div>


      </form>
    </div>
