<h2 mat-dialog-title>Modier un fournisseur</h2>
<mat-dialog-content class="mat-typography">

    <div class="p-5">
        <form class="fournisseur">

            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="number" class="form-control" placeholder="id" name="id" [(ngModel)]="id">
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="nom" name="nom" [(ngModel)]="nom">
                </div>

                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="code" name="code" [(ngModel)]="code">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="type" name="type" [(ngModel)]="type">
                </div>


            </div>
        </form>


    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close  class="btn btn-secondary">Annuler</button>
    <button mat-button class="btn btn-primary" cdkFocusInitial (click)="update()">Modifier</button>
</mat-dialog-actions>
