<form>
  
    <h2>Ajouter un article</h2>
    <div class="mb-3">
   <label for="id" class="form-label"> Id </label>
   <input type="number" class="form-control" id="id" size="15" aria-describedby="id">
  </div>
  
  <div class="mb-3">
    <label for="code" class="form-label"> code</label>
    <input type="text" class="form-control" id="code" size="15" aria-describedby="code">
   </div>
  
  
  
   <div class="mb-3">
    <label for="Intitule" class="form-label"> Intitule </label>
    <input type="text" class="form-control" id="Intitule" size="15" aria-describedby="Intitule">
   </div>

   <div class="mb-3">
    <label for="Fournisseur" class="form-label"> Fournisseur </label>
    <input type="text" class="form-control" id="Fournisseur" size="15" aria-describedby="Fournisseur">
   </div>

  
   <div class="modal-footer">
   <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
   <button  type="button" class="btn btn-primary" >ajouter</button>
  
   </div>
  
  </form>