<form>
     <h2>Ajouter un Fournisseur</h2>
    <div class="mb-3">
   <label for="id" class="form-label"> Id </label>
   <input type="number" class="form-control" id="id" size="15" aria-describedby="id">
  </div>
  
  <div class="mb-3">
    <label for="Nom" class="form-label"> nom</label>
    <input type="text" class="form-control" id="nom" size="15" aria-describedby="nom">
   </div>
   <div class="mb-3">
    <label for="Type" class="form-label"> code</label>
    <input type="text" class="form-control" id="code" size="15" aria-describedby="code">
   </div>
   <div class="mb-3">
    <label for="Taille" class="form-label">type</label>
    <input type="text" class="form-control" id="type" size="15" aria-describedby="type">
   </div>
   
   
   <div class="mb-3">
    <label for="createdat" class="form-label"> Datecreation</label>
    <input type="date" class="form-control" id="datecreation" size="15" aria-describedby="datecreation">
   </div>

  
  
  
  
   <div class="modal-footer">
   <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
   <button  type="button" class="btn btn-primary" >ajouter</button>
  
  </div>
  
</form>
  
  
   