 
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h6><strong>Fiche de suivi des fournisseur aziza </strong> </h6>
         
        </div>
        <div class="item">
          <label for="entr"> Entrepot<span>*</span></label>
          <input id="entr" type="text" name="tnr" required/>
        </div>
        <div class="colums">
          <div class="item">
            <label for="dt"> Date<span>*</span></label>
           <input id="dt" type="date" name="dt" required/>
          </div>
         
          <div class="item">
            <label for="frn"> Fournisseur<span>*</span></label>
            <input id="frn" type="text"   name="frn" required/>
          </div>
          <div class="item">
            <label for="tm">Heure d'arrivé<span>*</span></label>
            <input id="tm" type="time"   name="tm" required/>
          </div>
          
          <div class="item">
            <label for="hr">Heure d'entré<span>*</span></label>
            <input id="hr" type="time"   name="hr" required/>
          </div>
           
          <div class="item">
            <label for="hr">Heure de départ<span>*</span></label>
            <input id="hr" type="time"   name="hr" required/>
          </div>
           
 
      
          <div class="btn-block">
            <button type="submit" href="/">Enregistrer</button>
          </div>
        </div>
        
        
      </form>
    </div>
 