<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
       
    </div>
  
    <!-- Content Row 
          
           <th scope="col">DirecteurSiteID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Phone</th>
                      <th scope="col">site</th>
                      <th scope="col">LastConnexion</th>
                      <th scope="col">Action</th>
                    -->
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text">listes des Chauffeurs</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="mat-elevation-z8">
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Filter by any Key" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource">
  
              <!-- Position Column -->
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>Id </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="nomchauffeur">
                <th mat-header-cell *matHeaderCellDef> nomchauffeur</th>
                <td mat-cell *matCellDef="let element"> {{element.nomchauffeur}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="prenomchauffeur">
                <th mat-header-cell *matHeaderCellDef> prenomchauffeur </th>
                <td mat-cell *matCellDef="let element"> {{element.prenomchauffeur}} </td>
              </ng-container>
  
              <!-- Symbol Column -->
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef> cin </th>
                <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
              </ng-container>

             <!-- Symbol Column -->
              <ng-container matColumnDef="tel">
                <th mat-header-cell *matHeaderCellDef> tel </th>
                <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
              </ng-container>
  
              
  
              <ng-container matColumnDef="createdat">
                <th mat-header-cell *matHeaderCellDef> Datecreation </th>
                <td mat-cell *matCellDef="let element"> {{element.createdat}} </td>
              </ng-container>
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="edit(element)">Edit</button>
                  <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="delet(element)">Delete</button> </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.Date)"></tr>
               
               
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtonsaria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>