<form>
     <h2>Ajouter un chauffeur</h2>
    <div class="mb-3">
   <label for="id" class="form-label"> Id </label>
   <input type="number" class="form-control" id="id" size="15" aria-describedby="id">
  </div>
  
  <div class="mb-3">
    <label for="Nom" class="form-label"> nomchauffeur</label>
    <input type="text" class="form-control" id="nomchauffeur" size="15" aria-describedby="nomchauffeur">
   </div>
   <div class="mb-3">
    <label for="Type" class="form-label"> prenomchauffeur</label>
    <input type="text" class="form-control" id="prenomchauffeur" size="15" aria-describedby="prenomchauffeur">
   </div>
   <div class="mb-3">
    <label for="Taille" class="form-label">site</label>
    <input type="text" class="form-control" id="Taille" size="15" aria-describedby="site">
   </div>
   <div class="mb-3">
    <label for="Chauffeur" class="form-label"> cin</label>
    <input type="text" class="form-control" id="cin" size="15" aria-describedby="cin">
   </div>
   <div class="mb-3">
    <label for="Chauffeur" class="form-label"> tel</label>
    <input type="text" class="form-control" id="cin" size="15" aria-describedby="tel">
   </div>
   <div class="mb-3">
    <label for="createdat" class="form-label"> Datecreation</label>
    <input type="date" class="form-control" id="Datecreation" size="15" aria-describedby="createdat">
   </div>

  
  
  
  
   <div class="modal-footer">
   <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
   <button  type="button" class="btn btn-primary" >ajouter</button>
  
   </div>
  
  </form>
  
  
   