<form>
     <h2>Ajouter un Camion</h2>
    <div class="mb-3">
   <label for="id" class="form-label"> Id </label>
   <input type="number" class="form-control" id="id" size="15" aria-describedby="id">
  </div>
  
  <div class="mb-3">
    <label for="Nom" class="form-label"> Immatricule</label>
    <input type="text" class="form-control" id="immatricule" size="15" aria-describedby="immatricule">
   </div>
   <div class="mb-3">
    <label for="Type" class="form-label"> Type</label>
    <input type="text" class="form-control" id="type" size="15" aria-describedby="type">
   </div>
   <div class="mb-3">
    <label for="Taille" class="form-label">Taille</label>
    <input type="text" class="form-control" id="taille" size="15" aria-describedby="taille">
   </div>
   <div class="mb-3">
    <label for="Chauffeur" class="form-label"> Chauffeur</label>
    <input type="text" class="form-control" id="chauffeur" size="15" aria-describedby="chauffeur">
   </div>
   <div class="mb-3">
    <label for="Datecreation" class="form-label"> Datecreation</label>
    <input type="date" class="form-control" id="datecreation" size="15" aria-describedby="datecreation">
   </div>

  
  
  
  
   <div class="modal-footer">
   <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
   <button  type="button" class="btn btn-primary" >Ajouter</button>
  
   </div>
  
  </form>
  
  
   