 
   
   
   <div class="testbox">
        <form action="/">
          <div class="banner">
            <h6><strong>  Demande d'inetrvention Mainetnance infrastrecture </strong> </h6>
           
          </div>
          <div class="colums">
            <div class="item">
              <label for="dt"> Date de demande<span>*</span></label>
               
              <input id="dt" type="date" name="dt" required/>
            </div>
            <div class="item">
              <label for="nom"> Nom et prénom de demandeur<span>*</span></label>
              <input id="nom" type="text" name="nom" required/>
            </div>
            <div class="item">
              <label for="st"> Site<span>*</span></label>
              <input id="st" type="text"   name="st" required/>
            </div>

            <div class="item">
                <label for="cod">  Code équipement<span>*</span></label>
                <input id="cod" type="number"   name="cod" required/>
            </div>
            <div class="item">
                <label for="rf"> Réference ot<span>*</span></label>
                <input id="rf" type="number" name="rf" required/>
              </div>
               
                
              <div class="item">
                  <label for="nature">Nature de demande<span>*</span></label><br>
                  <div class="form-check">
                    
                    <input class="form-check-input"  type="checkbox" name="df" value="" id="df" required/>
                   
                </div>
                <label class="form-check-label" for="df">Défaillance </label>
                </div>
               
            <div class="btn-block">
              <button type="submit" href="/">Enregistrer</button>
            </div>
           
          
        </div>
        </form>
      </div>
   