 
    <div class="testbox">
        <form action="/">
          <div class="banner">
            <h6><strong>Logbook du suivi de la réception des courriers </strong> </h6>
           
          </div>
          <div class="colums">
            <div class="item">
              <label for="dt"> Date de réception<span>*</span></label>
               
              <input id="dt" type="date" name="dt" required/>
            </div>
            <div class="item">
              <label for="rf"> Reference<span>*</span></label>
              <input id="rf" type="number" name="rf" required/>
            </div>
            <div class="item">
              <label for="entr">  Entrepot/provenance<span>*</span></label>
              <input id="entr" type="text"   name="entr" required/>
            </div>

            <div class="item">
                <label for="entr"> Nom du chauffeur<span>*</span></label>
                <input id="entr" type="text"   name="entr" required/>
            </div>
            <div class="item">
                <label for="cd"> Code chauffeur<span>*</span></label>
                <input id="cd" type="number" name="cd" required/>
              </div>
              <div class="item">
                <label for="cds"> Code agent de sécurité<span>*</span></label>
                <input id="cds" type="number" name="cds" required/>
              </div>
               
             
            <div class="btn-block">
              <button type="submit" href="/">Enregistrer</button>
            </div>
          </div>
          
          
        </form>
      </div>
   