 
    <div class="testbox">
        <form action="/">
          <div class="banner">
            <h6><strong>Logbook du suivi de la retour d'emballage </strong> </h6>
           
          </div>
          <div class="colums">
            <div class="item">
              <label for="dt"> Date <span>*</span></label>
               
              <input id="dt" type="date" name="dt" required/>
            </div>
            <div class="item">
              <label for="rf"> N° de bon de retour<span>*</span></label>
              <input id="rf" type="number" name="rf" required/>
            </div>
            <div class="item">
              <label for="entr">  Nom du magasin<span>*</span></label>
              <input id="entr" type="text"   name="entr" required/>
            </div>

           
            <div class="item">
                <label for="cd"> Heure d'entré<span>*</span></label>
                <input id="tm" type="time" name="tm" required/>
              </div>
              <div class="item">
                <label for="cmn">Commentaire<span>*</span></label>
                <input id="cmn" type="text" name="cmn" required/>
              </div>
               
              <div class="item">
                <label for="nm">Nom chauffeur<span>*</span></label>
                <input id="nm" type="text" name="nm" required/>
              </div>
               
              <div class="item">
                <label for="nm">Nom verificateur<span>*</span></label>
                <input id="nm" type="text" name="nm" required/>
              </div>
               
            <div class="btn-block">
              <button type="submit" href="/">Enregistrer</button>
            </div>
          </div>
          
          
        </form>
      </div>
   